.Header h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}

.Header p {
  color: var(--color-primary);
  font-weight: 300;
  text-transform: uppercase;
  height: 30px;
}

.HeaderMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.LogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Logo {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}

.SettingsLink {
  visibility: visible;
  color: var(--color-accent);
}

@media (min-width: 769px) {
  .SettingsLink {
    visibility: hidden;
  }
}
